# Python & Virtual Env
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Django
db.sqlite3
.env
*.log

# Static & Media
# We WANT Git to see DEPLOY_STATIC, but NOT the heavy videos inside it
DEPLOY_STATIC/videos/TVS-NAGAR-RESIDENCE.mp4
DEPLOY_STATIC/videos/Edge.mp4

# Global Media/Video Ignore (to prevent future 404/rejection errors)
*.mp4
*.mov
*.avi
media/

# IDEs
.vscode/
.idea/
.DS_Store