# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django stuff
*.log
db.sqlite3
media/
# staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Media
*.mp4
*.mov
*.avi
media/